<% var page = 'room'; %>
<% include partials/head %>
<% include partials/header %>

<div class="container">
  <div class="toptext">
    <p>Your UID: <%= uid %></p>
    <p>Your Alias: <%= alias %></p>
    <p>Room Name: <%= roomname %></p>
    <p>Room Users: <span id="room_users"><%= roomusers %></span></p>
  </div>
  <div id="playerWrapper">
    <div id="player"></div>
  </div>

  <div class="controls">
    <div class="row">
      <input id="video_id" type="text" placeholder="Video ID" value="x2P7nDtXg-A">
      <button id="set_video">Set Video</button>
    </div>
    <div class="row">
      <!-- data-state: 0 - Not Playing | 1 Playing -->
      <button id="controls_play" data-state="0">Play</button>
      <div id="controls_timeline">
        <div class="pin"></div>
      </div>
    </div>
  </div>
</div>

<script defer>
  // Wait for client JS to load before running
  let waitForJS = setInterval( () => {
    if(typeof handle_video_update !== 'function') return;

    handle_video_update('<%= videouid %>');
    handle_set_playback_state(<%= videoplaybackstate %>);
    handle_set_progress(<%= videoprogress %>);
    clearInterval(waitForJS);
  }, 1000);
</script>

<% include partials/footer %>
